
record(ai, "$(P)$(R)") {
    field(DESC,"$(DESC=)")
    field(DTYP,"asynFloat64")
    field(INP,"@asyn($(PORT),$(OFFSET))$(DATA_TYPE=FLOAT32_LE)")
    field(HOPR,"$(HOPR)")
    field(LOPR,"$(LOPR)")
    field(PREC,"$(PREC)")
    field(SCAN,"$(SCAN=I/O Intr)")
    field(EGU,"$(EGU)")
    info(autosaveFields_pass0,"LOLO LOW HIGH HIHI LLSV LSV HSV HHSV")
}

