
record(bi, "$(P)$(R)") {
    field(DESC,"$(DESC=)")
    field(DTYP,"asynInt32")
    field(INP,"@asyn($(PORT),$(OFFSET))$(DATA_TYPE=UINT16)")
    field(SCAN,"$(SCAN=I/O Intr)")
    field(ZNAM,"$(ZNAM=)")
    field(ONAM,"$(ONAM=)")
    field(ZSV,"$(ZSV)")
    field(OSV,"$(OSV)")
}

