[Unit]
Description=Execute procServMgr every 5min

[Timer]
OnBootSec=5min
OnCalendar=*:0/5
Unit=procServMgr.service

[Install]
WantedBy=multi-user.target

