record(subArray,"B_DAQ_GTTrigBit:$(N)") {
    field(INP,"B_DAQ:trig2vtp_VTPGT_TRIGGERBITS $(INOPT)")
    field(FTVL,"DOUBLE")
    field(MALM,32)
    field(NELM,1)
    field(INDX,"$(N)")
    alias("B_DAQ_GTTrigBit:$(ALIAS)")
    field(FLNK,"B_DAQ_GTTrigBit:$(M).PROC")
}
