HallB, DAQ, Crates,,,,,,,,
pv, description, latching, annunciating,delay,count,display title,display details,automated_action title,automated_action details,automated_action delay
$(HOST):alarm, DAQ Crate $(HOST) Status, true, true, 120, 120, Open Crate Controls,$(OPI),,,0
