############################################################
# read scaler:
record(ai, "$(P)$(R)") {
    field(DESC,"bom scaler")
    field(DTYP,"JLAB_SCALERS")
    field(INP,"#C$(CScode) S$(Counts)") 
    field(SCAN,"2 second")
    field(LOW,"-0.5")
    field(LSV,"MAJOR")
}

