
record(ao,"B_IA_$(P)") {
    field(OMSL,"supervisory")
    field(OUT,"$(P)")
}

#record(calcout,"B_IA_$(P):init") {
#    field(PINI, "1")
#    field(INPA, "$(P)")
#    field(CALC, "A")
#    field(OUT,  "")
#}

