#
# mmgas_asyn_aiFloat64.template
# 
# Copied and modified from synApps/modbus
#
# Author: Wesley Moore (wmoore@jlab.org)
# Date:   June 2017
#
record(ai, "$(P)$(R)") {
    field(DTYP, "asynFloat64")
    field(INP,  "@asyn($(PORT) $(OFFSET))$(DATA_TYPE)")
    field(HOPR, "$(HOPR)")
    field(LOPR, "$(LOPR)")
    field(PREC, "$(PREC)")
    field(EGU,  "$(EGU)")
    field(SCAN, "$(SCAN)")
}

