#
# mmgas_status_flowdiff.template
#
# Author: Wesley Moore (wmoore@jlab.org)
# Date:   June 2017
#
record(calc, "$(P)$(R)") {
    field(INPA, "$(P)INFLOW CPP")
    field(INPB, "$(P)OVRFLOW CPP")
    field(INPC, "$(P)OUTFLOW CPP")
    field(CALC, "A-(B+C)")
    field(PREC, "2")
    field(EGU,  "L/h")
}
