#
# mmgas_asyn_bo_bit.template
# 
# Copied and modified from synApps/modbus
#
# Author: Wesley Moore (wmoore@jlab.org)
# Date:   June 2017
#
record(bo, "$(P)$(R)") {
    field(DTYP, "asynUInt32Digital")
    field(OUT,  "@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(ZNAM, "$(ZNAM)")
    field(ONAM, "$(ONAM)")
    field(HIGH, "$(HIGH)")
}
