#
# mmgas_asyn_bi_bit.template
# 
# Copied and modified from synApps/modbus
#
# Author: Wesley Moore (wmoore@jlab.org)
# Date:   June 2017
#
record(bi, "$(P)$(R)") {
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(SCAN, "$(SCAN)")
    field(ZNAM, "$(ZNAM)")
    field(ONAM, "$(ONAM)")
    field(ZSV,  "$(ZSV)")
    field(OSV,  "$(OSV)")
}
