#
# mmgas_status_flowdiff.template
#
# Author: Wesley Moore (wmoore@jlab.org)
# Date:   June 2017
#
record(calc, "$(P)$(R)") {
    field(INPA, "$(P)INFLOW CPP")
    field(INPB, "$(P)OVRFLOW_FLT_PCT CPP")
    field(CALC, "A*B/100")
    field(PREC, "2")
    field(EGU,  "L/h")
}
