
record(ao, "$(P)$(R)") {
    field(DTYP, "asynFloat64")
    field(OUT,  "@asyn($(PORT) $(OFFSET))$(DATA_TYPE)")
    field(DRVH, "$(DRVH)")
    field(DRVL, "$(DRVL)")
    field(PREC, "$(PREC)")
    field(EGU,  "$(EGU)")
}

