#
# mmgas_status_flowdiff.template
#
# Author: Wesley Moore (wmoore@jlab.org)
# Date:   June 2017
#
record(calc, "$(P)$(R)") {
    field(INPA, "B_DET_BMT_GAS_INFLOW CPP")
    field(INPB, "B_DET_BMT_GAS_OVRFLOW_FLT_PCT CPP")
    field(CALC, "A*B")
    field(PREC, "2")
    field(EGU,  "L/h")
}
