#
# File: HallB_includes.cfg
#
# Used by alarm-server-config to generate the full alarm tree for root name 
# "HallB".  The order of the filenames determines the Area order for the 
# Alarm Tree and Alarm Panel within CS-Studio.
#
## Torus
torus_interlocks.xml
torus_cooldown.xml
torus_cooldown_interlocks.xml
torus_LHe.xml
torus_LN2.xml
torus_force_loadcells.xml
torus_force_straingages.xml
torus_vacuum.xml
## Gas System
gas_cRIO_COMM.xml
gas_cRIO_IOCS.xml
gas_cRIO_SVT.xml
gas_cRIO_HTCC.xml
## HV
HValarmDetBased.xml
