#
# File: HallB_includes.cfg
#
# Used by alarm-server-config to generate the full alarm tree for root name 
# "HallB".  The order of the filenames determines the Area order for the 
# Alarm Tree and Alarm Panel within CS-Studio.
#
 
## Test
abc.xml
